@use 'sass:color';
@use '../globals' as *;

$background: color.adjust($main-background, $lightness: -5%);
$snake-color: white;

.container {
  height: 100vh - $game-bar-height;
}

.body {
  position: relative;
  background: $background;
}

.gridSquare {
  position: absolute;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  @keyframes left-fill {
    from {padding-left: 30px}
    to {padding-left: 0}
  }

  &.left {
    animation-name: left-fill;
  }

  @keyframes right-fill {
    from { padding-right: 30px }
    to { padding-right: 0; }
  }

  &.right {
    padding-right: 0;
    animation-name: right-fill;
  }

  @keyframes up-fill {
    from {padding-top: 30px}
    to {padding-top: 0}
  }

  &.up {
    animation-name: up-fill;
  }

  @keyframes down-fill {
    from { padding-bottom: 30px }
    to { padding-bottom: 0; }
  }

  &.down {
    animation-name: down-fill;
  }

  &.tail {
    animation-direction: reverse;

    &.left { animation-name: right-fill }
    &.right { animation-name: left-fill; padding-left: 30px; }
    &.up { animation-name: down-fill }
    &.down { animation-name: up-fill }
  }
}

%grid-item {
  height: 100%;
  width: 100%;
}

.piece {
  @extend %grid-item;
  background: $snake-color;
}

.target {
  @extend %grid-item;
  border-radius: 100%;

  @keyframes in {
    from { transform: scale(0) }
    to { transform: scale(1) }
  }

  animation-name: in;
  animation-duration: .25s;
}
