@use 'sass:color';
@use '../globals' as *;

$background: color.adjust($main-background, $lightness: -5%);
$snake-color: white;

.container {
  height: 100vh - $game-bar-height;
}

.body {
  position: relative;
  background: $background;
}

.piece {
  position: absolute;
  background: $snake-color;
}

@keyframes target-animation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.target {
  position: absolute;
  border-radius: 100%;
  animation: target-animation .25s;
}
