@use '../../globals' as *;

.title {
  font-size: 4em;
  height: 1em;
  margin-bottom: .375em;
}

.scoreContainer {
  font-size: .8em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playButton {
  @extend %button;
  margin-top: 1.5em;
}

.titleScreenHighScoreContainer {
  @extend .scoreContainer;
  visibility: hidden;
  opacity: 0;
  transition-property: visibility, opacity;
  transition-duration: $transition-duration;

  &.highScoreExists {
    visibility: visible;
    opacity: 1;
  }
}

.titleScreenClearHighScore {
  @extend %compact-button;
  width: 3.5em;
  margin-top: .25em;
}

.gameOverScreenHighScore {
  font-size: .75em;
  margin-top: 0.25em;
}

.gameOverScreenCancel {
  @extend %subtle-button;
  margin-top: .25em;
}
