@use '../../globals' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $main-background;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  transition-property: visibility, opacity;
  transition-duration: $transition-duration;

  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

.title {
  font-size: 4em;
  margin-bottom: .5em;
}

.playButton {
  padding: .5em 1em;
  border-radius: 2em;
  background: $lighter-background;
  cursor: pointer;
  transition-property: background;
  transition-duration: $transition-duration;

  &:hover {
    background: $lightest-background;
  }
}
