@use '../../globals' as *;

$high-score-animation-duration: $transition-duration * 4;

.bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $game-bar-height;
}

.highScore {
  font-size: .5em;
  height: 1.2em;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: .5em;
}

.originalHighScore {
  $width: 7em;

  display: flex;
  justify-content: center;
  position: absolute;
  left: -($width / 2);
  width: $width;
  transition-property: left;
  transition-duration: $high-score-animation-duration;

  .highScoreBeaten & {
    left: -7em;
  }
}

.highScoreBeatenMessage {
  @keyframes in {
    from { opacity: 0 }
    to { opacity: 1 }
  }

  position: absolute;
  left: 1em;
  width: 8em;
  animation-name: in;
  animation-duration: $high-score-animation-duration;
  animation-fill-mode: forwards;
}
