$transition-duration: .25s;
$subtle-text-color: hsl(0, 0%, 50%);
$game-bar-height: 10vh;

%base-button {
  background: var(--lighter-background);
  text-align: center;
  cursor: pointer;

  &:hover {
    background: var(--lightest-background);
  }
}

%button {
  @extend %base-button;
  padding: .5em 1em;
  border-radius: 2em;
}

%compact-button {
  @extend %base-button;
  font-size: .9em;
  padding: .25em .5em;
  border-radius: 1em;
}

%subtle-button {
  font-size: .6em;
  padding: .25em .5em;
  color: $subtle-text-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
