@use 'globals' as *;

body {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: lighter;
  background: $main-background;
  color: white;
  user-select: none;
}

.gameWrapper {
  display: flex;
  flex-direction: column;
}

.gameContainer {
  height: 100vh - $game-bar-height;
}

.gameCanvas {
  background: $snake-background;
}
